---
title: Application Sent!
---
<div class="application-sent">
  <%= partial "header" %>
  <section class="page-intro">
    <div class="row">
      <div class="small-12 columns centered">
        <h1>Your application was sent!</h1>
        <p>We'll get in touch once we start awarding scholarships.</p>
      </div>
    </div>
  </section>
  <%= partial "footer" %>
</div>
