---
title: CFP Ideas
---

<div class="mentorship-program-intro pre-launch register">
    <%= partial "header" %>
    <section class="page-intro">
        <div class="row">
            <div class="small-12 columns">
                <h1>CFP Brainstorming</h1>
            </div>
            <div class="small-12 large-10 large-centered columns">
                <p>
                    Submitting to a conference can be intimidating! And even if it isn't, you might be having trouble coming up with an idea. Hopefully we can help!
                </p>
                <p>
                    On November 9th we hosted an online video chat where members of the Program Committee and Core Team chatted about the CFP, the content they hoped to see, and answered audience questions about ideas and proposals. You can listen to the recording here (with only some audio issues, apologies!):
                </p>
                <p>
                    <audio controls>
                        <source src="https://s3.amazonaws.com/emberconf/2016-11-09-hangout.mp3" type="audio/mpeg">
                    </audio>
                </p>
                <p>
                    We also hosted a session like this in 2015 for EmberConf 2016; you can listen to that recording too:
                </p>
                <br/>
                <audio controls>
                    <source src="https://s3.amazonaws.com/emberconf/2015-11-22-hangout.mp3" type="audio/mp3">
                </audio>
                <p>
                    These are some of the ideas that came out of the recent call, as well as last year's call:
                </p>
                <div class="cfp-ideas">
                    <ul>
                        <li>General intermediate level content</li>
                        <li>Features of the web platform and how Ember interacts with them, adoption topics, etc.</li>
                        <li>Talks about Ember and Accessibility</li>
                        <li>Talks about testing in Ember and Ember testing best practices</li>
                        <li>Talks about Ember and Security</li>
                        <li>Talks about building Ember Addons or lessons learned from building a specific Ember addon</li>
                        <li>Talks about design and Ember, like for example:</li>
                          <ul>
                            <li>Workflow for designers on your team helping with your Ember app</li>
                            <li>Tooling for Ember and designers</li>
                            <li>How your Ember app developers and designers work together</li>
                          </ul>
                        <li>Service Workers and related development patterns</li>
                        <li>Managing permissions in the browser</li>
                        <li>Talks about teaching and learning Ember</li>
                        <li>Managing CSS and styles in Ember apps</li>
                        <li>High level ideas in Ember, like for example:</li>
                          <ul>
                            <li>Unidirectional data flow (Data Down, Actions Up)</li>
                            <li>Routing and the URL</li>
                            <li>Dependency Injection</li>
                          </ul>
                        <li>How the Ember community can empower larger groups of people to get value out of Ember</li>
                        <li>Talks about Ember apps built by large teams</li>
                        <li>Talks about large Ember migrations</li>
                        <li>Talks about helping new Ember developers with their initial struggles</li>
                    </ul>
                </div>
                <p>
                    The best talks use concrete examples to explain ideas, and then explain how to apply those ideas to other problems.
                </p>
                <p>
                    These are just <em>some</em> possible ideas, and by no means the only things we'll accept. Whatever you've come up with, we'd love to hear about it!
                </p>
                <p>
                    <a class="button round" href="http://cfp.emberconf.com">Submit your talk</a>
                </p>
                <p class="disclaimer">
                    A special thank you to the core and program committee folk who joined us for the 11/09 brainstorming session: Leah Silber, Yehuda Katz, Godfrey Chan, Edward Faulkner, Jamie White and Jade Applegate.
                </p>
            </div>
        </div>
    </section>
    <%= partial "footer" %>
</div>
