---
title: Pay By Check
---

<div class="mentorship-program-intro pre-launch register">
  <%= partial "header" %>
  <section class="page-intro">
    <div class="row">
      <div class="small-12 columns">
        <h1>Paying By Check</h1>
      </div>
      <div class="small-12 large-10 large-centered columns">
        <p>For some of you, being able to pay by check would help smoothe over the corporate approval process. In the past, we haven't been able to offer this option. This year we're rolling it out in a limited fashion, as a test.</p>
        <%# <p>The practical problems are that (a) we can't hold tickets other people are ready to buy, waiting on POs and payments that may never come in, and (b) that we lack the manpower for the sort of collections and follow-up something like this
          typically requires.</p> %>
        <p>For EmberConf 2016, we will accept payments via check or Bill.com direct deposit for orders of 3+ tickets, where payment is received by January 11th, 2016.</p>

        <div class="row">
          <p>To receive an invoice and hold your tickets, we'll ask for the following information:</p>
          <div class="toggled-content" style="display: block;">
            <ul>
              <li>Company name and billing details</li>
              <li>Number of passes</li>
              <li>Name and Email for the person who will handle the registrations</li>
              <li>Name and Email for an accounting contact</li>
            </ul>
          </div>
        </div>

        <p>
          <a class="button round" href="https://tilde.wufoo.com/forms/emberconf-pay-by-check/">Request an invoice</a>
        </p>
        <p class="disclaimer">
          Invoice will be issued by Tilde Inc, 517 SW 4th Ave, Ste 2, Portland, OR 97204. Registration codes will be issued after December 21st, 2015.
        </p>
      </div>
    </div>
  </section>
  <%= partial "footer" %>
</div>
