---
title: Request Sent!
---
<div class="request-sent">
  <%= partial "header" %>
  <section class="page-intro">
    <div class="row">
      <div class="small-12 columns centered">
        <h1>Your request was sent!</h1>
        <p>We'll email if we need to follow up.</p>
      </div>
    </div>
  </section>
  <%= partial "footer" %>
</div>
