---
title: Thanks for Sponsoring EmberConf 2016!
---
<div class="successful-payment">
  <%= partial "header" %>
  <section class="page-intro">
    <div class="row">
      <div class="small-12 columns centered">
        <h1>Thanks for sponsoring!</h1>
        <p>Your payment has been processed and a receipt has been emailed. We'll get in touch if we have any follow-up questions. Feel free to <a href="mailto:sponsor@emberconf.com?Subject=EmberConf%202016%20Sponsorship">email us with questions</a> in the meantime.</p>
        <figure class="class-photo">
          <img src="images/emberconf-class-photo.jpg" alt="Thanks for being a sponsor, from the EmberConf Class of 2015">
          <figcaption>Our community thanks you.</figcaption>
        </figure>
      </div>
    </div>
  </section>
  <%= partial "footer" %>
</div>
