---
title: Application Sent!
---
<div class="application-sent pre-launch">
  <%= partial "header" %>
  <section class="page-intro">
    <div class="row">
      <div class="small-12 columns centered">
        <h1>Perfect!</h1>
        <p>Both contacts will be emailed a copy of the invoice shortly.</p>
      </div>
    </div>
  </section>
  <%= partial "footer" %>
</div>
