---
title: The Women Helping Women Mentorship Program
---
<div class="mentorship-program-intro pre-launch">
  <%= partial "header" %>
  <section class="page-intro">
    <div class="row">
      <div class="small-12 columns">
        <h1>Women Helping Women Mentorship Program</h1>
      </div>
      <div class="small-12 large-10 large-centered columns">
        <p>
          At EmberConf 2015 we ran a very successful Mentorship program, and we aim to do something similar this year. This application is specifically for the new <a href="//emberwomen.com" target="_blank">Women Helping Women</a> segment of our 2016 program.
        </p>
        <p>
          One of the goals of our program is to help ladies in Ember advance to leadership roles, and encourage them along the way. Now of course something like that isn't going to happen overnight. By introducing you to other women aiming to do similar things, or women who have <i>already</i> done similar things, we aspire to get more of us comfy, confident and leading.
        </p>
        <p>
          The program will most most likely culminate in a pre-EmberConf gathering, Monday, March 28, 5:30—7pm, with light snacks and drinks. Hopefully you meet people you like so much that you follow it up by going to dinner with them :)
        </p>
        <p>
          We don't have specific funding for this program, so it'll be more about putting the right people next to each other and less about giving y'all special swag :p If you know someone who might want to sponsor the WHW program to help us step it up a bit, <a href="mailto:events@tilde.io">please send them our way!</a>
        </p>
        <p>
          Finally, there are currently ~50 women on the WHW mailing list, though not everyone has spoken up and introduced themselves yet. We'll try and make as many pairs as we can. Since the pool is smaller, you won't necessarily get paired up with someone specifically ahead or behind you in their efforts. Mostly you'll be paired with someone supportive, having similar goals, and interested in making a new friend.
        </p>
        <p>
          <a href="https://tilde.wufoo.com/forms/women-helping-women-mentorship-program/" class="button round">Apply to the program</a>
        </p>
        <p class="disclaimer">
          This application is part of the EmberConf <a href="//emberwomen.com" target="_blank">Women Helping Women</a> program; only those already enrolled in the program should apply. Learn more about the program on the website, or by joining #ember-women in the <a href="https://ember-community-slackin.herokuapp.com/">Ember Community Slack</a>.
        </p>
      </div>
    </div>
  </section>
  <%= partial "footer" %>
</div>
